/* Simple Footer */
.footer {
  margin-top: auto;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.625rem);
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  text-align: center;
  position: relative;
  z-index: 20;
}

.footerText {
  /* color: #9ca3af; */
  color: black;
  font-size: 0.875rem;
  margin: 0;
}